<div class="participants-main-container">
  <div class="participants-title-container">
    <div class="participants-circle-container"></div>
    <h3>Participantes</h3>
  </div>
  <div class="second-step-title">
    <h3 class="title-number">02</h3>
    <h4>Añadir participantes:</h4>
  </div>
  <div class="participants-container">
  <div class="second-step-container">
    <div class="participants-inputs-container">
      <div class="title-price-inputs-container">
        <input class="input-item" type="text" placeholder="Titulo evento">
        <input class="input-item" type="text" placeholder="Precio límite">
      </div>

      <div class="participant-data-container">
        <input class="input-item" type="text" placeholder="Nombre">
        <input class="input-item" type="text" placeholder="Email">
      </div>
      <div class="addButton-container">
        <button class="addButton">Añadir</button>
      </div>
    </div>
  </div>

  <div class="participantsAdded-main-container">
    <div class="participantsAdded-container">

    </div>
  </div>
</div>
  <div class="nextButton-container">
    <button class="nextButton">Siguiente</button>
  </div>
</div>
