  <div class="instructions-container">
    <div class="instructions-title-container">
      <div class="instructions-circle-container"></div>
      <h3>Intrucciones</h3>
    </div>
    <div class="first-step-container">
      <div class="first-step-title">
        <h3 class="title-number">01</h3>
        <h4>Pasos a seguir:</h4>
      </div>
      <div class="instructions-list-container">
        <ul>
          <li>Rellena los datos de todos los participantes. ¡No olvides incluir tus datos!</li>
          <li>Dale al botón de “Añadir” para aumentar el número de participantes.</li>
          <li>Cuando hayas terminado, pulsa el botón de “Enviar” para que le llegue un email con la información a todos tus amigos.</li>
          <li>A partir de ese email podréis acceder mediante un enlace a la página donde podréis rellenar información adicional (Wishlist, Blacklist...)</li>
          <li>Por último, recibiréis en el email que se ha adjuntado el amigo invisible a quién te ha tocado regalar. ¡Suerte!</li>
        </ul>
      </div>

    </div>
  </div>

