<div class="gift-container">
  <div class="fourth-step-container">
    <div class="gift-inputs-container">
      <div class="gift-data-container">
        <input class="input-item" type="text" placeholder="Articulo 1" />
        <input class="input-link-item" type="text" placeholder="Link 1" />
      </div>
      <div class="gift-data-container">
        <input class="input-item" type="text" placeholder="Articulo 2" />
        <input class="input-link-item" type="text" placeholder="Link 2" />
      </div>
      <div class="gift-data-container">
        <input class="input-item" type="text" placeholder="Articulo 3" />
        <input class="input-link-item" type="text" placeholder="Link 3" />
      </div>
      <div class="gift-data-container">
        <input class="input-item" type="text" placeholder="Articulo 4" />
        <input class="input-link-item" type="text" placeholder="Link 4" />
      </div>
      <div class="gift-data-container">
        <input class="input-item" type="text" placeholder="Articulo 5" />
        <input class="input-link-item" type="text" placeholder="Link 5" />
      </div>
      <div class="addGiftButton-container">
        <button class="addGiftButton">+</button>
      </div>
    </div>
  </div>

</div>
<div class="sendButton-container">
  <button class="sendButton">Enviar</button>
</div>
