<app-header></app-header>
<div class="blacklist-container">
    <div class="blacklist-title-container">
        <div class="blacklist-circle-container"></div>
        <h3>Blacklist</h3>
    </div>
    <div class="fourth-step-container">
        <div class="fourth-step-title">
            <h3 class="title-number">03</h3>
            <h4>Excluir participantes:</h4>
        </div>
        <div class="blacklist-list-container">
            <ul>
                <li>Si quieres excluir alguna combinación posible de participantes puedes seleccionarla aquí.</li>
            </ul>
        </div>
    </div>
</div>

<div class="participants-container">
    <div class="blacklist-list-container-participant">
        <ul class="blacklist-list">
            <li class="blacklist-list-participant">David</li>
            <li class="blacklist-list-participant">Dani</li>
            <li class="blacklist-list-participant">Jesús</li>
            <li class="blacklist-list-participant">Ana</li>
            <li class="blacklist-list-participant">Román</li>

        </ul>

    </div>
    <div class="exclude-container">
        <p class="exclude-text">excluye a </p>
        <p class="exclude-text">excluye a </p>
        <p class="exclude-text">excluye a </p>
        <p class="exclude-text">excluye a </p>
        <p class="exclude-text">excluye a </p>
    </div>
    <div class="excluded-container">
        <select class="excluded-select" name="escoja un valor" id="">
            <option value="" disabled selected>Selecciona un valor</option>
            <option value="antonio">Dani</option>
            <option value="antonio">Jesús</option>
            <option value="antonio">Ana</option>
        </select>
        <select class="excluded-select" name="escoja un valor" id="">
            <option value="" disabled selected>Selecciona un valor</option>
            <option value="antonio">Dani</option>
            <option value="antonio">Jesús</option>
            <option value="antonio">Ana</option>
        </select>
        <select class="excluded-select" name="escoja un valor" id="">
            <option value="" disabled selected>Selecciona un valor</option>
            <option value="antonio">Dani</option>
            <option value="antonio">Jesús</option>
            <option value="antonio">Ana</option>
        </select>
        <select class="excluded-select" name="escoja un valor" id="">
            <option value="" disabled selected>Selecciona un valor</option>
            <option value="antonio">Dani</option>
            <option value="antonio">Jesús</option>
            <option value="antonio">Ana</option>
        </select>
        <select class="excluded-select" name="escoja un valor" id="">
            <option value="" disabled selected>Selecciona un valor</option>
            <option value="antonio">Dani</option>
            <option value="antonio">Jesús</option>
            <option value="antonio">Ana</option>
        </select>
    </div>
</div>

<div class="nextButton-container">
    <button class="nextButton">Siguiente</button>
  </div>



<app-footer />