<app-header/>
<div class="gift-instructions-container">
  <div class="gift-instructions-title-container">
    <div class="gift-instructions-circle-container"></div>
    <h3>Intrucciones</h3>
  </div>
  <div class="fourth-step-container">
    <div class="fourth-step-title">
      <h3 class="title-number">04</h3>
      <h4>Añade links:</h4>
    </div>
    <div class="gift-instructions-list-container">
      <ul>
        <li>Puedes incluir recomendaciones a tus amigos de posibles regalos que quieras recibir.</li>
      </ul>
    </div>
  </div>
</div>
<app-gift-list/>
<app-footer/>
